* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color:#0F1624;
    opacity:0.9
}

h1, ul, li, a, p, h2{
    color:#FF2525;
    
}

h1 {
    font-size:3em;
}
h3{
    font-size:2.5em;
}

h4 {
    font-size:1.9em;
}

h3,h4 {
    color:white;
}


/* navbar styles */
.navbar-container {
    padding:2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-ul {
    display:flex;
}

.navbar-container a {
    text-decoration: none;
}

.navbar-ul a {
    text-decoration: none;
}
.navbar-ul li {
  list-style: none;
  font-size:2em;
  margin-left:1em;
  cursor:pointer;
  transform:0.5s;
  border-bottom:1px solid #0F1624;
}

.navbar-ul li:hover {
    border-bottom: 1px solid white;
    color:#f10a0a;
}


.agentsContainer {
    background: rgb(31,32,36);
    background: linear-gradient(180deg, rgba(31,32,36,1) 0%, rgba(98,102,111,1) 38%, rgba(131,133,140,1) 65%, rgba(141,144,153,1) 92%);
    background-color: rgba(255, 255, 255, 0.877);
    display:grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-auto-rows: 450px;
    padding:3rem;
    row-gap:3em;
    column-gap: 4em;
}

.agentCardWrapper {
    box-shadow: 3px 3px 20px rgba(80,78,78,1);
    border-radius:25px;
    text-align:center;
    position:relative; 
}

.agent-image {
    height:100%;
    width:100%;
    object-fit: contain;
    
}

.layer {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
    cursor: pointer;
    justify-content:center;

}

.layer:hover {
    background:rgba(226,0,0,0.7);
}

.layer h3 {
    font-size: 3em;
}

.layer h4 {
    font-size:2em;
}

.layer h3,h4 {
    text-transform: uppercase;
    width:100%;
    font-weight:500;
    color:white;
    margin-top:2em;
    bottom: 0; 
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0; 
    transition: 0.5s;
}

.layer p {
    text-align: center;
    text-transform: uppercase;
    width:100%;
    font-weight:500;
    color:white;
    margin-top:2em;
    bottom: 0; 
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0; 
    transition: 0.5s;
    justify-content: center;
    
}

.layer-bullet{
    margin-right:7px;
}

.layer:hover h3 {
    /* bottom makes it so that it comes from bottom to middle */
    bottom: 55%; 
    opacity:1;
}

.layer:hover h4 {
    /* bottom makes it so that it comes from bottom to middle */
    bottom: 45%; 
    opacity:1;
}

.layer:hover p {
    /* bottom makes it so that it comes from bottom to middle */
    bottom: 25%; 
    opacity:1;
}






.agentDetailsWrapper {
   
    display:flex;
    background-color: rgba(255, 255, 255, 0.877);
    margin:0 auto;
}

.agentDetailsWrapper-right {
    margin-top:4rem;
    line-height: 2.5em;
    flex-basis:50%;

}




.agentDetailsWrapper-left {
   
    flex-basis:50%;
    margin-top: 4rem;
    max-height:100vh;
    min-width:700px;
}

.agentDetails-img {
    width:100%;
    height:100%;
    object-fit: contain;
}
.agentDetails-ability {
    margin:3em 0;
    
}

.dark_text{
    color: #0f1923;
    font-weight:500;
    font-size:1.2em;
}

.dark_text.h3 {
    font-size:2em;
}

.role-span {
    font-weight:500;
    text-transform: uppercase;
    
}

.mapContainer {
    margin:0 2em;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
   
    gap:3.2rem 4rem;
    text-align: center;
}

.map-img {
    box-shadow: 3px 3px 20px rgb(20, 197, 109);
    max-width:100%;
    max-height: 100%;
}

.lh {
    line-height:25px;
}

.h1-upper {
    text-transform: uppercase;
    font-size:2em;
}
.bf {
    font-size:2em;
    letter-spacing: 3.5px;
}
.fs {
    font-size:1.2em;
}
.white {
    color:white;
    
}

.weaponContainer {
   background-color: rgba(255, 255, 255, 0.877);
   display:grid;
   grid-template-columns: repeat(2, minmax(500px, 700px));
   justify-content: center;
   grid-auto-rows: 450px;
   padding:0 2em;
   
}

.weaponCard {
    border:1px solid rgba(42, 34, 38, 0.8);
    position:relative;
    cursor:pointer;

}

.weaponImg {
    height:100%;
    width:100%;
    object-fit: contain;
}

.weapon-h2 {
    color:white;
    position:relative;
    font-size:3rem;
    font-weight:700px;
    margin-left:1.2em;
    z-index: 50;
}

.weapon-h3 {
    margin-left:1em;
    font-size:1.2rem;
}

